<ion-view view-title="Detalle">
  <ion-content>

    <div class="list card">
    
      <div class="item item-avatar">
        <h2>Name: {{contact.name}}</h2>
        <p>Phone: {{contact.phonePrimary}}</p>
      </div>
    
      <div class="item item-body">
        <p>Identification: {{contact.identification}}</p>
        <p>Mobile: {{contact.mobile}}</p>
        <p>email: {{contact.email}}</p>
        <p>Address: {{contact.address.address}}</p>
        <p>City: {{contact.address.city}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>